* {box-sizing: border-box;
    position: relative;}

body {margin-left: 86px;
    margin-right: 86px;
    margin-top: 10px;
    background: lightgray;}

header {background: red;
    width: 850px;
    height: 425px;}

.nav {height: 60px;
    top: 365px;
    background: white;}

.profile-pic {border: gray solid 1px;
        height: 185px;
        width: 185px;
        left: 15px;
        top: 160px;}


